@font-face{
    font-family: W95FA;
    src:url(https://aandroxus1.github.io/W95FA.otf)
}
html{
    cursor: url("https://aandroxus1.github.io/Win95_Cursor.ico.png"), default;
}
body{
    background-color: #ee99ff;
    overflow: hidden;
}

.widget{
    border-style: solid;
    border-width: 3px;
    border-left-color: silver;
    border-top-color: silver;
    border-bottom-color: grey;
    border-right-color: grey;
}
.defStyle{
    position: relative;
    font-family:W95FA;
    text-align:center;
}
.sidebarButton{
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-left-color: silver;
    border-top-color: silver;
    border-bottom-color: grey;
    border-right-color: grey;
    font-family:W95FA;
    text-align: center;
    height:10%;
    width:95%;
}
/************************/

#sidebarTab{
    width:2%;
    position:absolute;
    top:48%;
    left:0%;
    font-size: 200%;
}
#sidebar{
    background-color: #ee99ff;
    opacity: 1;
    position: absolute;
    width: 15%;
    height:100%;
    left:0%;
    top:0%;
    display:none;
    z-index:1;
    animation: sidebarOut 0.7s;
}
.sidebarHover:hover + #sidebar, #sidebar:hover{
    display:block;
    animation: sidebarIn 0.7s;
}
#sidebarTitle{
    font-size:4.5vw;
}
#button1{
    top: 15%;
}

/*animation*/

@keyframes sidebarIn{
    0%{left:-17%;}
    100%{left:0%;}
}
@keyframes sidebarOut{
    0%{left:0%;}
    100%{left:-17%;}
}