@font-face{
    font-family: W95FA;
    src:url(https://aandroxus1.github.io/W95FA.otf)
}
html{
    cursor: url("https://aandroxus1.github.io/Win95_Cursor.png"), default;
}
body{
    background-color: #a101ff;
    background-image: linear-gradient(to right, #FF01F1,#a101ff);
    overflow: hidden;
}
.sidebar{
    background-color: #ff4c5c;
    position: absolute;
    height: max-content;
    width: 10%;
    left: 0%;
}
.sidebar_logo{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 0%;


}