@font-face{
    font-family: W95FA;
    src:url(https://aandroxus1.github.io/W95FA.otf)
}
html{
    cursor: url("https://aandroxus1.github.io/Win95_Cursor.png"), default;
}
body{
    background-color: #a101ff;
    background-image: linear-gradient(to right, #00B3FF,#a133ff);
    overflow: hidden;
}
.centerOpen{
    position: absolute;
    margin-left: 45%;
    margin-right: auto;
    margin-top: 20%;
    background-color: transparent;
}
.centerBubble, .outerBubble1, .outerBubble2{
    display: flex;
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    z-index: 10;
    transition: all 0.5s;
}
.outerBubble1, .outerBubble2{
    position: absolute;
    z-index: 1;
}
.centerBubble:hover>.outerBubble1{
    transform: translateX(100%)
}
.bubbleHolder{
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    right: 0%;
    top: 0%;
    transition: all 0.5s;
}
.bubbleHolder:hover{
    height: auto;
}
.bubbleIco, .bubbleIco2, .bubbleIco3{
    display: flex;
    position: relative;
    justify-content: center;
    top: 0%;
    right: 0%;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    transition: all 0.5s;
}
.bubbleIco{
    z-index: 10;
}
.bubbleIco2, .bubbleIco3{
    position: absolute;
    cursor: pointer;
}
.bubbleHolder:hover>.bubbleIco{
    transform: rotate(180deg);
}
.bubbleHolder:hover>.bubbleIco2{
    transform: translateY(100%);
}
.bubbleHolder:hover>.bubbleIco3{
    transform: translateY(200%);
}
.bubbleIco2:hover, .bubbleIco3:hover{
    border-color: white;
    right: 20%;
}
.settingsDispatcher{
    position: absolute;
    margin: auto,auto,0%,auto;
    min-width: 100px;
    min-height: 100px;
    background-color: transparent;
}
.ico_colorChangeHOST{
    background-color: transparent;
    width: 100px;
    height: 100px;
    object-fit: fill;
    transition: all 0.5s
}
#ico_colorChange{
    width: max-content;
    height: max-content;
    max-width: 100px;
    max-height: 100px;
    object-fit:fill;
    background-color: #ff4c5c;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    transition: all 0.5s;
}
.bubbleIco2:active>.ico_colorChangeHOST{
    margin-left: 50%;
}
.sidebar{
    background-color: #ff4c5c;
    display: flex;
    position: absolute;
    min-height: 100%;
    top:0%;
    width:100px;
    left: 0%;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    transition: all, 0.5s;
}
.sidebar:hover{
    width: 200px;
}

.sidebar_logo{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 0%;
    border-bottom: 4px;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-style: solid;
    border-color: black;
    transition: all 0.5s;
}
.sidebar_logo:hover{
    border-color: white;
    border-radius: 10%;
    border-width: 4px;
    z-index: 1;
}
#header{
    font-family: W95FA; 
}
.rounded{
    border-radius: 50%;
}