@font-face {
    font-family: W95FA;
    src: url(W95FA.otf);
}
.body{
    overflow:hidden;
    background-color: #008080;
    color:black;
    text-align: center;
    font-family: W95FA;
    position: absolute;
    border-top: 100%;
    border-left: 100%;
}