@font-face {
    font-family: W95FA;
    src: url(\assets\W95FA.otf);
}
body{
    font-family: W95FA;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
}
.playerDisplay{
    font-size: 4vw;
    width: fit-content;
    height: fit-content;
}
.action{
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0.5vw;
    bottom: 1vh;
    width: 99vw;
    height: fit-content;
}
.actionButton{
    border: 2px solid black;
    width: 33vw;
    height: 12vh;
    background-color: transparent;
}
.enemyButton{
    font-size: 4vw;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    color: #00FF00;
}