@font-face {
    font-family: W95FA;
    src: url(/assets/W95FA.otf);
}
body{
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#bootloader{
    min-width: 100vw;
    min-height: 100vh;
}
#startup{
    display: none;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
}
#startupTitle{
    color: white;
    display: flex;
    overflow: auto;
    animation: flash 2s;
    animation-iteration-count: 5;
    font-family: W95FA;
    font-size: 10vw;
    transition: all 2s;
}
#loadingContainer{
    display: none;
    position: absolute;
    top: 0%;
    min-width: 12vw;
    min-height: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading{
    display: flex;
    position: absolute;
    height: 9vw;
    width: 9vw;
    border: 1vw solid;
    border-radius: 100%;
    border-color: #ff4c5c #00b3a3;
    box-shadow: 0 0 5vw black;
    animation: spin 2s;
    animation-iteration-count: 6;
}
.img_androxus{
    border-radius: 50%;
    display: flex;
    position: absolute;
    width:10vw;
}
#main{
    min-width: 100vw;
    min-height: 100vh;
    transition: all 2s;
}
@keyframes flash {
    0%{color: white;}
    50%{color: black;}
    100%{color: white;}
}
@keyframes spin {
    0%{transform: rotate(0deg); box-shadow: 0 0 1vw black;}
    50%{box-shadow: 0 0 5vw black;}
    100%{transform: rotate(720deg); box-shadow: 0 0 1vw black;}
}