@font-face {
    font-family: W95FA;
    src: url(/assets/W95FA.otf);
}
body{
    font-family: W95FA;
    font-size: 2.8vh;
    background-color: #008080;
    overflow:hidden
}
#taskbar{
    min-width: 100%;
    max-height: 5vh;
    background-color: lightgrey;
    position: absolute;
    bottom: 0%;
    left: 0;
    z-index: 1;
    border-style:solid;
    border-width: 0.5vh;
    border-color: white grey grey white;
}
.taskbarIcon{
    max-height: 5vh;
    min-height: 5vh;
    max-width: 10%;
    border-left: solid 1px grey;
    padding-left: 2px;
}
#startMenu{
    display: none;
    transition: all 1s;
    min-height: 60vh;
    min-width: 30vh;
    background-color: lightgrey;
    border: 0.5vh solid;
    border-color: grey black white grey;
    position: absolute;
    bottom: 6vh;
    left: 0;
}
#startButton{
    object-fit: contain;
    width: auto;
    height: 4vh;
    border-style:solid;
    border-width: 0.5vh;
    border-color: grey black black grey;
}
#startButton:hover{
    cursor:pointer
}
#startTitle{
    color: white;
    position: absolute;
    bottom: 0;
    min-height: 60vh;
    max-width: 3vh;
    border-left: black solid 0.1vh;
    background-color: darkgrey;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: block;
    overflow:auto; 
}   
.startIcon{
    position: relative;
    left: 4vh;
    min-height: 5vh;
    max-width: 26vh;
    border-right: 0.5vh solid black;
    position: relative;
    text-align:left;
    padding-bottom: 2px;
}
.startIcon:hover{
    background-color: lightslategrey;
}
.startIconImg{
    position: relative;
    padding-right: 4vh;
    left: 0;
    bottom: 0;
    max-height: 5vh;
    min-height: 5vh;
}
#splitter{
    border-top: 1px solid grey;
    box-shadow: 0 0 1px 1px darkgrey;
}

/*Window CSS*/

.sysWindow{
    display: none;
    position: absolute;
    width: fit-content;
    height: fit-content;
    background: lightgrey;
    border: solid 2px darkgrey;
    overflow: hidden;
    text-align: center;
}
.windowHeader{
    position: relative;
    max-height: 4vh;
    background: darkblue;
    text-align: left;
    width: 100%;
}
.windowX{
    position: relative;
    height: 3vh;
    background-color: lightgrey;
    display: block;
    float:right;
    top: 0vh;
    border: 0.5vh solid;
    border-color: #666 black black #666;
    transition: all 0.2s;
}
.windowX:hover{
    cursor:pointer;
    border-color: #aaa #444 #444 #aaa;
}
.windowHeaderText{
    display: inline-block;
    color: white;
    transform: translate(0,-1vh);
    width: fit-content;
}
.windowHeaderImg{
    display: inline-block;
    max-height:4vh;
    min-height: 4vh;
    padding-right: 1vh;
}
.windowMessage{
    text-align: center;
    padding-bottom:3vh;
}
.windowButton{
    width: fit-content;
    height: 3vh;
    border:2px solid;
    border-color: grey black black grey;
    position: relative;
    padding-left: 1vh;
    padding-right:1vh;
    text-align: center;

}
.windowCloser{
    width: fit-content;
    height: 3vh;
    border:2px solid;
    border-color: grey black black grey;
    position: relative;
    padding-left: 1vh;
    padding-right:1vh;
    margin: 0 auto;
    text-align: center;
}
.windowCloser:hover, .windowButton:hover{
    cursor:pointer;
}
#follower{
    background-color: white;
    display: none;
    z-index: 10;
    position: absolute;
    left: 0px;
    top: 0px; 
    border: 2px solid black;
    width: fit-content;
    padding: 2px;
    transition: display 2s
}